<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>G4 Predict System</title>
    <link rel="stylesheet" href="./layout.css" media="screen" />
</head>
<body>
    <h1>in vivo DNA G4-predict</h1>
    <form action="{% url 'upload'%}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div id="without_G4" class="none">
        <p>ATAC-seq file: <input type="file" name="atac_filename" value="" /></p>
        <p>BS-seq file: <input type="file" name="bs_filename" value="" /></p>
        <p>Options:
            <select name="output_option">
                <option value = "default">default</option>
                <option value = "cannon">cannon</option>
                <option value = "longloop">longloop</option>
            </select> 
        </p>
        </div>
        <input type="submit" value="上传">
        
        <div id="manual" class="none">
        <p>Note:</p>
        <p>ATAC-seq: BED file which has format of 'chr start end value'.</p>
        <p>(WG)BS-seq: BED file which has format of 'chr start end value'.</p>
        <p>Output: will return a BEDfile with selected G4-seq entries.</p>
        <p>Options: We provide the Re-pattern G4 coordinates when you select 'cannon' or 'longloop'.
        <p>Noted that your input file should be the sample(s) that aligned to hg19(GRCh37).</p>
        </div>
        

    </form>
</body>
</html>
