body {
    font-family: "Helvetica", "Arial", serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 10%;
}
h1 {
    color: #333;
    background-color: transparent;
}
#manual {
    font-family: "Times New Roman", "Arial", serif;
    color: #c60;
}